<html ng-app="bloc-chat">

<body ng-controller="appCtrl">
    <div id="addMsg">
        <ul>
            <li ng-repeat="message in messages">
                <!-- edit a message -->
                <input ng-model="message.text" ng-change="messages.$save(message)" />
                <!-- delete a message -->
                <button ng-click="messages.$remove(message)">Delete Message</button>
            </li>
        </ul>
        <!-- push a new message onto the array -->
        <form ng-submit="addMessage()">
            <input ng-model="newMessageText" />
            <button type="submit">Add Message</button>
        </form>
    </div>

    <div id="addRoom">

        <form ng-submit="addRoom(newRoomName)">
            <input ng-model="newRoomName" />
            <button type="submit">Add Room</button>
        </form>
          <button ng-click="hidden=true">List Rooms</button> 
    </div>
    <div id="roomList" ng-show="hidden">
        <ul>
            <li ng-repeat="room in rooms">
                <!-- edit a message -->
                <input ng-model="room.roomName" ng-change="rooms.$save(room)" />
                <!-- delete a message -->
                <button ng-click="rooms.$remove(room)">Delete Room</button>
            </li>
        </ul>

    </div>
    
        <div id="addUser" ng-show="hidden">

        <form ng-submit="addUser(newUserName)">
            <input ng-model="newUserName" />
            <button type="submit">Add User</button>
        </form>
    </div>



</body>

<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>


<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyD4PUHVfKsmPhPEUj0BwGzw-qJZxp5LvVA",
        authDomain: "bloc-chat-4a7cb.firebaseapp.com",
        databaseURL: "https://bloc-chat-4a7cb.firebaseio.com",
        storageBucket: "bloc-chat-4a7cb.appspot.com",
        messagingSenderId: "890236754694"
    };
    firebase.initializeApp(config);

</script>

<script src="/scripts/app.js"></script>
<script src="/scripts/Controllers/main.js"></script>

</html>
